.#{$ns}svg-animation {

	svg {
		--filter: grayscale(100%) opacity(0.5);
		max-height: 100%;
	}

	.#{$ns}svg {
		overflow: visible;
		object-fit: contain;
    width: 100%;

		&.light-gray {

			path[class^=cls],
			rect[class^=cls] {
				transition: all 100ms ease-in 0ms;
				fill: $light-gray;
				opacity: 0.5;
				&.pop {
					animation: path-pop 1000ms ease-out;
				}
			}

		}

		path[class^=cls],
		rect[class^=cls] {
			transition: all 500ms ease-in 0ms;
			transform-origin: center;
			&.pop-up {
				animation: pop-up 1000ms ease-out;
				--scale-to: 1.05;
			}
			&.scale-bump {
				--scale-to: 1.1;
			}
		}


	}
}

@keyframes path-pop {
	0%, 100% {
		opacity: 0.5;
		fill: $light-gray;
	}
	50% {
		opacity: 1;
		fill: $accent;
	}
}
@keyframes pop-up {
	0%, 100% {
		transform: scale(1);
	}
	50% {
		transform: scale(var(--scale-to, 1.05));
	}
}
