@import "../../../../sass/variables";

$block_name: #{$ns}+'svg-showcase';

.#{$block_name} {

	padding: 4rem 0;

	&.behind {
		.#{$block_name}__svg-background {
			transform: translateY(-50%);
		}
	}

	&.behind-above {
		.#{$block_name}__svg-background {
			transform: translateY(-100%);
		}
	}

	&.behind-below {
		.#{$block_name}__svg-background {
			transform: translateY(0%);
		}
	}

}
