@import "../../../../sass/variables";

$block_name: #{$ns}+'counter-stats';

.#{$block_name} {

	position: relative;

	& > * {
		position: relative;
		z-index: 1;
	}

	&__heading {
		color: $accent;
		font-size: 1.5rem;
    padding: 0 2rem;
	}

	&__stats {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
		margin: 2rem auto;
		padding: 0;
		justify-content: space-between;
		row-gap: 2rem;
		column-gap: 2rem;
		list-style: none;
	}

	&__stat {
		aspect-ratio: 1/1;
		width: calc((100% - 6rem)/4);
    // background-color: white;
		padding: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
		align-items: center;
		justify-content: center;
		row-gap: 1rem;
		text-align: center;

		&::before {
			content: '';
			// background-image: url(../img/dot-circle-2-color.png);
			background-image: url(../img/circle-dots-green-to-blue-single-quad.png);
    	background-size: contain;
    	background-position: center;
			background-repeat: no-repeat;
			aspect-ratio: 1/1;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			transition: all 1s;
			opacity: 0;
			z-index: -1;
		}
		&.in-view::before {
			// opacity: 1;
			animation: spin-in 10000ms ease-out;
			animation-delay: var(--transition-delay, 0);
		}
		&.counter-finished::before {
			opacity: 1;
		}


		// &.is-viewed {
		// 	opacity: 1;
		// 	top: 0;
		// }

		@media (max-width: $breakpoint-md) {
			width: calc((100% - 6rem)/2);
		}
	}

	@keyframes spin-in {
		0% {
			transform: rotate(360deg) scale(0.5);
			opacity: 0;
		}
		20%, 100% {
			transform: rotate(0deg) scale(1);
			opacity: 1;
		}
	}

	&__stat-number {
		margin: 0;
		font-size: 2.25rem;
		text-transform: none;
		// .stat-after {
		// 	// font-size: 0.8em;
		// }
	}

	&__stat-subtext {
		color: $accent;
		text-transform: uppercase;
		font-weight: 600;
	}

	@media screen and (max-width: $breakpoint-md) {

	}


}