@import "../../../../sass/variables";

$block_name: #{$ns}+'tabbed-content';

.#{$block_name} {

	background-color: #F2F2F2;
	padding: 5% 0;

	header {
		// text-align: center;
		padding: 0 2rem;
    // max-width: 750px;

		h2 {
			margin: 1rem 0;
		}
		p {
			margin: 1rem 0;
		}

	}

	& > * {
		position: relative;
		z-index: 1;
	}

	&__svg-background {
		position: absolute;
		z-index: -1;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;

		&.dot-circle {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-start;

			// left: -10%;

			@media (max-width: $breakpoint-md) {
				align-items: flex-start;
				justify-content: center;
				top: 7.5%;
			}

			svg.green-blue-dot-circle {
				width: 50%;
    		padding: 3%;
				transform: rotate(195deg) scaleX(-1);
				@media (max-width: $breakpoint-md) {
					width: 100%;
				}
			}
		}
	}

	&__media-container {
		width: 50%;
		display: flex;
    flex-direction: column;
    justify-content: center;
		align-items: center;
		padding: 0 2rem;
		padding-left: 5rem;

		img {
			width: 100%;
			height: auto;
			object-fit: cover;
			aspect-ratio: 25/16;
			display: inline-block;
		}
	}

	&__text-container {
		width: 100%;
		display: flex;
    flex-direction: column;
    justify-content: center;
		padding: 0 2rem;
		row-gap: 1rem;

		.button {
			margin-top: 2rem;
		}
	}

	&__media-container + &__text-container {
		width: 50%;
	}

	&__heading {
		margin: 0;
	}

	&__icon-list {
		list-style: none;
		margin: 0;
		padding: 0;
		& > li {
			display: flex;
			gap: 2rem;
			& + li {
				margin-top: 1rem;
			}
			& > img {
				width: 2.5rem;
				max-height: 2.5rem;
				object-fit: contain;
			}

		}
	}






	.tab-list {
		padding-left: 0 !important;
		padding-right: 0 !important;

		.container {
			margin: 4rem auto;
		}
		[role="tablist"] {
			width: 100%;
			display: flex;
			flex-direction: row;
		}

		[role="tab"] {
			width: 100%;
			position: relative;
			z-index: 2;
			overflow: visible;
			outline: none;
			font-weight: bold;
			background: transparent;
			border: none;
			border-radius: 0 !important;
			background-color: white;
			border-color: #eee;
			color: $primary;
			font-size: 1rem;
			padding: 1.5rem;
			margin: 0;
			transition: all 0.2s ease-out;
			cursor: default;

			@media (max-width: 767px) {
				font-size: rem(20);
			}
			@media (max-width: 400px) {
				font-size: rem(16);
			}
		}


		[role="tab"][aria-selected="false"] {
			background-color: #E4E4E4;
			border-color: #cdcdcd;
			color: #7D7D7D;
		}
		[role="tab"][aria-selected="false"] + [role="tab"][aria-selected="false"] {
			border-left: 2px solid #b4b4b4;
		}

		[role="tab"][aria-selected="true"] {
			background-color: white;
			border-color: #eee;
			color: $primary;
		}

		[role="tab"]:not([aria-selected="true"]):focus,
		[role="tab"]:not([aria-selected="true"]):hover {
			background-color: #ccc;
			color: $primary;
			cursor: pointer;
		}

		[role="tab"]:focus,
		[role="tab"]:hover {
			transform: none;
		}

		[role="tab"]:focus-visible {
			outline: -webkit-focus-ring-color auto 1px;
		}

		[role="tabpanel"] {
			width: 100%;
			min-height: 500px;
			opacity: 1;
			transition: opacity 0.3s;
			background-color: white;
			padding: 4rem 2rem;
			position: relative;
			z-index: 1;
			display: flex;
			flex-direction: row;
			gap: 2rem;
		}

		[role="tabpanel"].is-hidden {
			border: 0;
			clip: rect(1px, 1px, 1px, 1px);
			clip-path: inset(50%);
			height: 1px;
			margin: -1px;
			overflow: hidden;
			padding: 0;
			position: absolute;
			width: 1px;
			word-wrap: normal !important;
			opacity: 0;
		}

		dl {
			width: 100%;

			display: flex;
			flex-direction: row;
			flex-wrap: wrap;

			color: black;

			margin: 2rem auto;
			overflow: hidden;

			.feature-container {
				--per-row: 5;
				width: calc(100% / var(--per-row));
				border-bottom: 1px solid #c9c9c9;
				padding: 2rem 4% 2rem 0;
				// hide the last row of border-bottom
				position: relative;
				top: 1px;
				@media (max-width: 1300px) {
					--per-row: 4;
					padding-right: 8%;
				}
				@media (max-width: 1109px) {
					--per-row: 3;
					padding-right: 2rem;
				}
				@media (max-width: 767px) {
					--per-row: 2;
				}
				@media (max-width: 400px) {
					--per-row: 1;
				}
			}
			dt {
				font-weight: bold;
			}

		}

		.tabs-container {
			width: 100%;
			@media (max-width: 500px) {
				width: 100%;
			}
		}
	}
}